window.bar {
    background: transparent;
}

.content {
    background: #151515;
    color: #9d0911;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
