.content {
    background: #151515;
    color: #9d0911;
    font-family: 'EVA-Matisse_Classic';
    padding: 8px;
}

trough,
highlight,
.filled,
.empty {
    background: #151515;
    border-radius: 20px;
    border: none;
    padding: 0;
    min-width: 25px;
}

separator {
    background: none;
}

trough {
    border: 2px solid #9d0911;
}

highlight,
.filled {
    background: #9d0911;
    border: none;
}

scale {
    padding: 0;
}

slider {
    background: none;
    box-shadow: none;
    border: none;
}

.icon {
    padding-top: 1em;
}

.day,
.month {
    font-size: 1.6em;
}

.clock {
    font-size: 5em;
}
