.content {
    background: #151515;
    color: #9d0911;
    font-family: 'EVA-Matisse_Classic';
    padding: .5em;
}

trough,
highlight,
.filled,
.empty {
    background: #151515;
    border-radius: 10px;
    border: none;
    padding: 0;
}

trough {
    border: 2px solid #9d0911;
}

.filled {
    background: #9d0911;
}
.empty {
    background: #151515;
}

highlight {
    min-width: 20px;
    background: #9d0911;
    border: none;
}

slider {
    background: none;
    box-shadow: none;
    border: none;
}

.day,
.month {
    font-size: 1.6em;
}

.clock {
    font-size: 5em;
}
